<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature
        android:name="android.hardware.vr.headtracking"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.opengles.aep"
        android:required="false" />
    <uses-feature
        android:name="oculus.software.handtracking"
        android:required="false" />

    <uses-permission android:name="com.oculus.permission.HAND_TRACKING" />

    <application
        android:allowBackup="false"
        android:hasCode="true"
        android:label="${terminAndroidAppLabel}"
        android:theme="@style/TerminOpenXRTheme">
        <meta-data
            android:name="com.oculus.handtracking.version"
            android:value="V2.0" />
        <meta-data
            android:name="com.oculus.vr.focusaware"
            android:value="true" />
        <meta-data
            android:name="com.oculus.supportedDevices"
            android:value="quest|quest2|questpro|quest3|quest3s" />
        <meta-data
            android:name="com.samsung.android.vr.application.mode"
            android:value="vr_only" />

        <activity
            android:name="android.app.NativeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="true"
            android:immersive="true"
            android:launchMode="singleTask"
            android:resizeableActivity="false"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.app.lib_name"
                android:value="termin_openxr_native_activity" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="com.oculus.intent.category.VR" />
                <category android:name="org.khronos.openxr.intent.category.IMMERSIVE_HMD" />
            </intent-filter>
        </activity>
    </application>
</manifest>
